

*{
    margin : 0 auto;
    padding: 0 ;
}


main{

    width: 100%;
}

.center{

    width: 100%;
}


.leftGap{

    width: 0px;
    height: 100%;
    background-color: purple;
}

.rightGap{

    width: 0px;
    height:  100%;
    background-color: purple;
}



.mainContent, .homeMainContent{

    width: 100%;
    height: 800px;
    margin-top: 20px;

}

.area{
    width: 90%;
    height: 400px;

}


.blocNewList{

    width: 100%;
    height: 72px;
    background-color:  whitesmoke;
    border: dashed 2px rgb(72, 158, 72);
    margin-top: 10px;

}

.btnNewList , .list{

    font-size: 20px;
    height: 50px;


}


.btnNewList{
    border: dashed 2px rgb(72, 158, 72);
    background-color:  transparent;
    color: rgb(72, 158, 72);
    width: 50px;

}

.list{
    border:none;
    background-color: rgb(72, 158, 72);
    color: whitesmoke;
    width: 100%;
    height: 100%;
    font-size: 28px;
} 

.listaDay{
    
    display: flex;
    font-size: 12px;
}


.areaQuestion{

   width: 360px;
   height: 470px;
   background-color: rgba(0, 0, 0, 0.096);
   border: solid 2px rgb(75, 177, 75);

}

.areaQuestion p {
    background-color: rgb(75, 177, 75);
    margin-top: 0px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: white;
    text-align: center;

}

.areaQuestion input{
    text-align: center;
    border: none ;
    background-color: transparent;
    border-bottom: solid 3px rgb(94, 199, 24);
    height: 42px;
    width: 300px;
    font-size: 40px;
    color: rgb(75, 177, 75);
    outline: none;
    margin-top: 200px;
}

.areaQuestion .btnSetNomeSchema,.areaQuestion .btnSetNomeExclude {

    margin-top: 120px;
    width: 100%;
    height: 36px;
    background-color: rgb(40, 151, 40);
    color: white;
    font-size: 20px;
}

.areaQuestion .btnSetNomeExclude{
    margin-top: 0px !important;
    background-color: darkblue !important;

}

.simulations{

    width: 100%;
    height: auto; 
}

.simulation, .blocAddSimulation{

    width: 300px;
    height: 500px; 
    border: solid 2px rgb(46, 189, 89);
    background-color: whitesmoke;
    margin-top: 10px;
}




.simulation div{
    width: 100%;
}

.simulationsGrid{
    display: grid;
    width: auto;
    grid-template-columns: 310px ;
    height: auto;
    padding: 10px;

}

.blocRemoveSimulation{

    width: 80px;
    background-color: rgb(46, 189, 89);
}

.blocRemoveSimulation button{
    
    width: 80px;
    color: white;
    background-color: rgb(48, 109, 66);
    float: right;


}

.blocCota{

    overflow: auto;
    height: 300px;
    width: 90% !important;
    border: solid 1px rgb(46, 189, 89);
    background-color: white;

}

.blocCota::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .blocCota::-webkit-scrollbar-track {
    background: rgb(72, 139, 75);        /* color of the tracking area */
  }
  
  .blocCota::-webkit-scrollbar-thumb {
    background-color: rgb(68, 252, 13);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(83, 141, 93);  /* creates padding around scroll thumb */
  }

.cellCota{
    width: 100%;
    border-bottom: solid 1px white;
    padding-bottom: 10px;
    padding-top: 10px;

}

.setCota{
    text-align: center;
    border: none ;
    background-color: transparent;
    border-bottom: solid 3px rgb(94, 199, 24);
    height: 20px;
    width: 100px;
    font-size: 20px;
    color: greenyellow;
    outline: none;

}

.removeCota{

    background-color: transparent;
    border: solid 1px greenyellow;
    width: 15px;
    height: 15px;
    font-size: 8px;
    font-weight: bolder;
    color: greenyellow;
}



.removeCota:hover{

    background-color: transparent;
    border: solid 1px red;
    width: 15px;
    height: 15px;
    font-size: 8px;
    font-weight: bolder;
    color: red;
}

.indexCota{
    color: rgb(11, 65, 11);
}



.blocAddCota{
    height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blocAddCota button, .btnAddSimulation{

    background-color: transparent;
    font-size: 40px;
    border: dashed 2px greenyellow;
    color: green;
}

.blocAddCota button{
    width: 50px;
    height: 50px;
}

.blocAddCota button:hover{
    background-color: rgba(172, 255, 47, 0.24);
    color: white;
}


.blocTxtAposta{

    margin-top: 10px;
    background-color: transparent;
    width: 90% !important;

}

.blocTxtAposta p{
    font-size: 12px;
    color: white;
    color: rgb(109, 175, 10);
   

}

.blocAposta{
    height: 120px;
    border-top: solid 1px rgb(46, 189, 89);

}

.blocAposta input{

    text-align: center;
    border: none ;
    background-color: transparent;
    border-bottom: solid 3px rgb(211, 103, 14);
    height: 40px;
    width: 150px;
    font-size: 32px;
    color: rgb(21, 4, 173);
    outline: none;

}

.labelAposta{
    margin-right: 5px;
    color: rgb(47, 75, 4);
    font-size: 12px;
    font-weight: bolder;
}


.setAposta{
    width: 80px !important;
    height: 30px;
    font-size: 20px !important;
    color: red !important;
}



.blocContabilize{

    width: 100%;
    height: 150px;
    background-color: rgb(46, 189, 89);

}
.blocContabilizeUnion{
    width: auto;
}

.txtContabilize{
    font-size: 40px;
    color: aliceblue;
}

.blocContabilize input{

    border: none ;
    background-color: transparent;
    border-bottom: solid 3px rgb(253, 253, 253);
    height: 30px;
    width: 150px;
    font-size: 32px;
    color: white;
    font-weight: bolder;
    text-align: center;
    outline: none;
}


.blocContabilize input:focus{
    outline: none;
}

.blocAddSimulation{
    border: dashed 2px greenyellow !important;

}

.btnAddSimulation{
    width:  100px;
    height: 100px;
    font-size: 80px;
}


.btnAddSimulation:hover{

   background-color: rgba(172, 255, 47, 0.24);
   color: white;
}